@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat:wght@200;500&display=swap');

.onfeed-hr {
    width: 80% !important;
    margin-left: 5% !important;
}
#wpbody {
    margin-right: 20px !important;
}
.onfeed-header-pannel,
.onfeed-main-pannel {
    font-family: 'Montserrat', sans-serif;
}
.onfeed-header-pannel {
    border-radius: 20px 20px 0 0;
    padding: 0px !important;
    height: auto;
    background-color: #333333;
    /* margin-right: 20px !important; */
    margin-top: 30px;
    position : relative;
}
.onfeed-main-pannel {
    margin-top: -14px;
    border-radius: 20px 20px 10px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    min-height: 400px;
    background-color: #EBEBEB;
    /* margin-right: 20px !important; */
    position : relative;
}
.onfeed-content{
    padding: 0px !important;
    /* position: absolute;
    top: 50%;
    left: 50%; */
}
.onfeed-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.onfeed-new-feed h2,
.onfeed-exis-feed h2 {
    font-weight: 500;
    padding-left: 95px;
    padding-top: 25px;
}
.onfeed-new-feed p,
.onfeed-exis-feed p {
    font-size: 15px;
    padding-left: 95px;
}
.onfeed-new-feed .col-3 {
    padding-left: 95px;
}
.onfeed-new-feed .col-3 p {
    padding-left: 0;
}
.onfeed-copyright-on {
    padding-top: 5px;
    font-size: 10px;
    color: #ABABAB;
}
.onfeed-copyright-on a {
    text-decoration: none;
    font-weight: 500;
    color: #999999;
}
.onfeed-copyright-on a:hover {
    background-color: #C9EDDC;
    color: #ABABAB;
}
.onfeed-copyright-on a:visited {
    color: #C9EDDC;
}
.onfeed-new-feed .fa-solid {
    transform: rotate(0deg);
    transition: transform .5s ease-out;
}
.onfeed-new-feed .fa-solid:hover {
    transform: rotate(360deg);
    transition: transform .5s ease-out;
}
#onfeed-show-feeds {
    position: relative;
    padding-top: 20px;
    padding-left: 0px !important;
    font-size: 20px !important;
    text-align: center;
}
.onfeed-loading-page-connection .container {
    position: absolute;
    z-index: 999;
    top: 30%;
    left: 30%;
    background-color: #333333;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@keyframes ldio-8zvggs87mmq {
    0% { opacity: 0 }
    20% { opacity: 1 }
    100% { opacity: 1 }
}
.ldio-8zvggs87mmq div {
    position: absolute;
    animation: ldio-8zvggs87mmq 1s linear infinite;
    box-sizing: border-box !important;
    }
.ldio-8zvggs87mmq div:nth-child(1) {
    width: 44px;
    height: 44px;
    left: 34px;
    top: 128px;
    border-radius: 50%;
    background: #2aa7c9;
}
.ldio-8zvggs87mmq div:nth-child(2) {
    width: 66px;
    height: 66px;
    left: 56px;
    top: 84px;
    border-radius: 0 66px 0 0;
    border: 20px solid #06628d;
    background: none;
    animation-delay: 0.1s;
    border-bottom: 0;
    border-left: 0
}
.ldio-8zvggs87mmq div:nth-child(3) {
    width: 110px;
    height: 110px;
    left: 56px;
    top: 40px;
    border-radius: 0 110px 0 0;
    border: 20px solid #04284d;
    background: none;
    animation-delay: 0.2s;
    border-bottom: 0;
    border-left: 0
}
.loadingio-spinner-radio-buqhezk3sag {
    position: relative;
    top: 0;
    left: 25%;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    /* background: #f1f2f3; */
}
.ldio-8zvggs87mmq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-8zvggs87mmq div { box-sizing: content-box; }
/* generated by https://loading.io/ */
.onfeed-loading-conn-parent {
    display: none;
    position: fixed;
    z-index: 9991;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(60, 64, 67, 0.4);
}
.onfeed-loading-conn {
    position: fixed;
    width: 420px;
    top: 35%;
    left: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}